<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snaxsmart| Support</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/main.js"></script>
    {{!--
    <script type="text/javascript" src="js/vanilla-tilt.min.js"></script> --}}

</head>

<body>

    <div id="section3-contact">
        <div class="section3-contact-header">
             <div class="msg-popup">
                
                <h1>Submit Error <span>	&#10060;</span></h1>
                <span>Sorry for the inconvenience, Please try again after some time. &#x1F614; </span>
               
                <h3><span>Thank-you</span></h2>
            </div>
        </div>
    </div>


</body>


</html>