<header>
    <div style="width:10%;"></div>
    <div style="width:80%;">
        <div id="clock">8:10:45</div>
        {{!-- <span style="font-weight: 500;
                       font-family: 'Noto Sans','sans-serif';
                       font-size: 22px; color:rgb(255, 255, 255)">
                       DIAGEO
        </span> --}}<img src="css/ico_header_logo.svg" alt="Diageo" style="user-select: auto;">
       <div><button id="log-out-btn" class="btn" >Log Out</button></div></div>
    </div>

    <div style="width:10%;"></div>

</header>