<nav class="main-menu">
    <ul>
        <li><a href="/dashboard">
            <span>
                    Add Order
                </span></a>

        </li>
       
        <li><a href="/products"><span>
                    Products
                </span></a>

        </li>
        <li><a href="/transactions"><span>
                    Transactions
                </span></a>

        </li>
        
    </ul>
</nav>